<!-- The Modal -->
<div class="modal fade" id="crud-modal" data-modal-uri>
    <div class="modal-dialog" role="document" id="crud-modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="crud-modal-body-container">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer" id="crud-modal-footer-container">
                <button type="button" class="btn btn-outline-primary" id="save-modal-btn">Save</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>