@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="text-center my-3">- Your To Do Items -</h1>

    <table id="items-table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Deadline</th>
            <th>Last Updated</th>
            <th>Completed</th>
        </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="js/item-main.js"></script>
}