.vs/
ToDoItem/bin/
ToDoItem/obj/
ToDoItem.Infrastructure/bin/
ToDoItem.Infrastructure/obj/
ToDoItem.Core/bin/
ToDoItem.Core/obj/
ToDoItem.UnitTests/bin/
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/ToDoItem.UnitTests.AssemblyInfo.cs
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/ToDoItem.UnitTests.AssemblyInfoInputs.cache
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/ToDoItem.UnitTests.assets.cache
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/ToDoItem.UnitTests.csproj.CopyComplete
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/ToDoItem.UnitTests.csproj.CoreCompileInputs.cache
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/ToDoItem.UnitTests.csproj.FileListAbsolute.txt
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/ToDoItem.UnitTests.csprojAssemblyReference.cache
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/ToDoItem.UnitTests.dll
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/ToDoItem.UnitTests.pdb
ToDoItem.UnitTests/obj/Debug/netcoreapp2.2/ToDoItem.UnitTests.Program.cs
ToDoItem.UnitTests/obj/project.assets.json
ToDoItem.UnitTests/obj/ToDoItem.UnitTests.csproj.nuget.cache
ToDoItem.UnitTests/obj/ToDoItem.UnitTests.csproj.nuget.g.props
ToDoItem.UnitTests/obj/ToDoItem.UnitTests.csproj.nuget.g.targets
