@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to To Do Item App</h1>
    <h5><a asp-controller="ToDo" asp-action="Index">Here</a> you can view your items and much more!</h5>
</div>
